



#contact{
    position: relative;

}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('form-img.jpeg') no-repeat center center/cover;
    z-index: -1;
    opacity: .5;
    
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: .75rem;
}
#contact-box{
    justify-content: center;
    align-items: center;
    display: flex;
    /* padding bottom:34px ; */
}
#contact-box label{
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 1em;
}
#contact-box input{
    border-radius: 1em;
    border: black;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
}





/* utility classes */
.h-primary{
font-size: 2.5rem;
padding: 5px;
color:black;
text-align: center;

}
.h-secondary-center{
    font-size: 1.5rem;
    padding: 5px;
    color:black;
    text-align: center;

    
    }
.btn{
    padding: 7px 10px;
    border: solid 2px red;
    background-color: bisque;
    color: black;
    margin: 12px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}